body {
    background-color: rgb(122, 142, 163);
  }
  
  h1 {
    color: rgb(242, 242, 247);
    margin-left: 20px;
    font-family:  sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
  }